@import "../../../styles/variables.scss";

.input-wrapper {
    color:$text-color;
    font-size: 16px;
    text-align: start;
    gap: 20px;
   
    input {
        border: none;
        border-radius: 8px;
        width: 100%;
  
        padding: 12px 0 12px 20px;
    }
}
